.mySlides {display: none}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  overflow-x: hidden;
  margin-bottom: -100px;
}

.mySlides-img {
  min-width: calc(1199px + 60vw);
}

/* Caption text */
.containerlink{
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 130px;
  width: 100%;
  height: 60px;
  text-align: center;
}

.captiontext {
  text-transform: uppercase;
  color: white;
  position: absolute;
  bottom: 200px;
  width: 100%;
  text-align: center;
  font-family: Playfair;
  font-weight: bold;
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.containerlink-link {
  position: relative;
  padding: 10px 30px;
  border: solid 2px white;
  border-radius: 15px;
  font-size: 32px;
  color: white;
  font-family: Muli;
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

.captiontext-text {
  font-size: 70px;
}

.containerlink-link{
  -webkit-transition: color .25s , border-color .25s; /* Safari */
  transition: color .25s, border-color .25s;
}

.containerlink-link:hover {
  text-decoration: none;
  color: #dbdbdb;
  border-color: #dbdbdb;
}

/* The dots/bullets/indicators */
.dot {
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
}

/* Fading animation */
.fades
 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slideshow-container img { 
  min-height: 900px;
  height: 100vh;
  max-height:100vh; 
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media screen and (max-width: 1199px){
  .slideshow-container {
    -webkit-animation-name: navpos; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .7s; /* Safari 4.0 - 8.0 */
    animation-name: navpos;
    animation-duration: .7s;
    padding-top: 90px;
  }
}

@keyframes navpos {
      0% {
        padding-top:0px;
      }
      99.999% {
        padding-top:90px;
      }
      100% {
        padding-top:90px; 
        position: relative;
      }
  }
